body {
}
footer {
    background-color: #e6e6e6;
    /*    width: 100%;
*/ background-size: cover;
    direction: rtl;
    margin-top:6%;
}
/*footer {
    grid-area: footer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}*/
.contain-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.contain-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}
form {
    text-align:center;
}
.div-footer {
    width: 50%;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    height: 50vh;
}

.image-footer-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 50%;
    height: 50vh;
}

.image1 {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
/*    display: inline-block;
*/    object-fit: cover;
    margin: 0%;
    padding: 0%;
/*    max-height: 220px;
*/    min-height: 70px;
}

.icon {
    width: 20px;
    height: 20px;
    padding: 10px;
}
.i2{
    min-height:26px;
    max-height:26px;
}
    .icon:hover {
        color: #FFE4E1;
    }

.div-icon {
    padding: 10px;
}

.btnsubsmit {
    margin: 5px;
    padding: 2px,2px,2px,2px;
    letter-spacing: 1px;
}

.div-icon {
    margin: 15px;
}

.divone {
    font-family: 'Assistant', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    margin: 9px;
}

.aa {
    margin: 14px;
    font-size: 20px;
    font-family: 'Assistant', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#3 {
    margin: 14px;
    font-size: 10px;
}

#txtemail {
    width: 80%;
    background-color: #e6e6e6;
    margin: 12px;
}

#absulute {
    position: absolute;
    bottom: 245px;
    left: 300px;
    border: 2px,solid,#ddd;
    background-color: white;
    padding: 7px;
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: x-large;
    z-index: 3;
}
.yy{
    padding:1.5%;
    background-color:white;
    position:absolute;
    left:20%;
    z-index:3;
}
@media only screen and (max-width: 600px) {
    .image-footer-grid {
    visibility:hidden;
    width:0;
    }
.div-footer{    
    text-align:center;
}
}
.under {
    background-color: white;
    width: 100%;
    font-family: 'Assistant';
    line-height:0.1;
    margin-bottom:0;
}
    .under p {
        margin-top: 2%;
        margin-bottom:0.5%;
    }
    a{
        text-decoration:none;
        color :black;
    }
.i1:hover {
    content: url('../icons/icons8-facebook-f-24.png');
}

.i2:hover {
    content: url('../icons/icons8-heart-30 (1).png');
}

.i3:hover {
    content: url('../icons/icons8-instagram-24 (1).png');
}

.i4:hover {
    content: url('../icons/icons8-pinterest-a-social-media-web-and-mobile-application-company-24.png');
}
.a {
    margin-right: 1px;
    margin-left: 1px;
}