


button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
}

.container {
    padding: 16px;
    width: 35%;
    right: 13%;
    position: relative;
    /* visibility:hidden;*/
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #FFE4E1;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

body {
    direction: rtl;
    display: grid;
    /*    grid-template-columns: 1fr,2fr,1fr;
*/ font-family: 'Assistant', sans-serif;
    font-size: 14px;
    box-sizing:border-box;
    width:98%;
    margin:0px;
}

input {
    width: 160%;
    padding: 6%;
    margin: 1.5%;
    border-style: solid;
    border-radius: 20px;
    border-color: #FFE4E1;
    letter-spacing: 1px;
}

    input:focus-visible {
        outline: none;
    }

.div-orders {
    grid-column: 2;
}

.customers {
    font-size: 16px;
}

::placeholder {
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
}

.orders {
    width: 20%;
    padding: 1.1%;
    padding-left: 6%;
    padding-right: 6%;
    margin: 2%;
    border-style: solid;
    border-radius: 20px;
    background-color: #FFE4E1;
    color: black;
    letter-spacing: 1px;
    border-style: none;
    text-decoration: initial;
    position: relative;
    right: 40%;
    position: sticky;
    top: 10%;
    font-size: 18px;
    font-family: 'Assistant', sans-serif;
    z-index: 2;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
        left: 0px;
        top: 10%;
    }
    75% {
        left: 0px;
        top: 15%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    }

    100% {
        left: 0px;
        top: 10%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
    }
}

.center {
    position: relative;
    right: 10%;
}

.center1 {
    position: relative;
    right: 30%;
    margin-bottom: 3%;
    letter-spacing: 1px;
    margin-top: 1.5%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.customers1 {
    position: relative;
    right: 1%;
    margin: 0.5%;
}

.submit {
    /*    width: 20%;
*/ padding: 7%;
    padding-left: 50%;
    padding-right: 50%;
    margin: 2%;
    border-style: solid;
    border-radius: 20px;
    background-color: #FFE4E1;
    color: black;
    letter-spacing: 1px;
    border-style: none;
    text-decoration: initial;
    position: relative;
    right: 20%;
}

.white-book-img {
    width: 100%;
    margin: 0.1%;
    box-sizing: border-box;
}

.about-book {
    font-size: 20px;
    position: relative;
    right: 2%;
    text-align: center;
    letter-spacing: 1.2px;
    margin: 10px;
    display: grid;
    justify-content: center;
}

@media only screen and (min-width: 1001px) and (max-width: 4000px) {
    .modal-content.animate {
        width: 35%;
        margin: 5% auto 15% auto;
        border: 1px solid;
    }
}
/*
@media only screen and (min-width: 701px) and (max-width: 1000px) {
    .modal-content.animate {
        width: 50%;
        margin: 5% auto 15% auto;
        border: 1px solid;
    }
}*/
textarea:focus, input:focus {
    background-color: white;
}
input, select, textarea {
    background-color: white;
}
/*input[type="text"],
area {
    contenteditable: white;
}*/
/*.a:invalid{
    color:white;
}*/
@media only screen and (max-width: 1000px) {
    .modal-content.animate {
        width: 80%;
        margin: 10%;
    }
/*    .modal-content.animate .center{
        font-size:19px;
    }*/


}