body {
    display: block;
    color: #000;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Assistant", "Raleway", sans-serif;
    line-height: 1.9;
    letter-spacing: 1px;
    font-weight: 400;
    direction: rtl;
}
.cover-div {
    width: 70vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    margin:12%;
}
h1 h2 p {
    direction:rtl;
}
h1 {
    font-family: "Assistant", sans-serif;
}
.article {
    height: 95%;
    width: 95%;
    margin-top: -11%;
    margin-right: 35%;
}
image{
    object-fit:cover;
}

